.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .gallery {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;
}

.main .gallery .img {
    position: relative;
    /* border-radius: 7px; */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main .gallery .img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(2n+3) {
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(4n+5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.main .gallery .img:nth-child(6n+7) {
    grid-row-start: span 1;
}

.main .gallery .img:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.main .gallery .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(100);
    transition: 0.3s ease-in-out;
}

.main .gallery .img:hover img {
    cursor: pointer;
    filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 768px) {
    /* .main .gallery {
        display: block;
    }

    .main .gallery .img {
        display: block;
        width: 100%;
        height: 100%;
    } */

    .main .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

.title-gallery {
    margin-top: 70px;
}

#footer-gallery {
    font-size: 11px;
}